*.o
Makefile
cmake_install.cmake
CMakeCache.txt

!build/
build/*

!build/EEinput/
!build/DrawFigures/

build/DrawFigures/*
!build/DrawFigures/drawfig.gp

CMakeFiles/*

Xcode/DerivedData/*




Xcode/EvenSim.xcodeproj/project.xcworkspace/xcuserdata/andy.xcuserdatad/UserInterfaceState.xcuserstate
