*.o
Makefile
cmake_install.cmake
CMakeCache.txt

build/*

!build/small
!build/small2
!build/large
!build/opt_grd

build/EEinput/*
!build/EEinput/even_TargetFile.txt
!build/EEinput/line_TargetFile.txt


!build/DrawFigures/
build/DrawFigures/*
!build/DrawFigures/*.gp

CMakeFiles/*

Xcode/DerivedData/*




Xcode/EvenSim.xcodeproj/project.xcworkspace/xcuserdata/andy.xcuserdatad/UserInterfaceState.xcuserstate
